{% require_css %}
  <style>
    {% scope_css %}
      .team-member { 
        {{module.style.card_styles.border_field.css}};
      }
      .content {
        background-color: {{module.style.card_styles.card_bottom_color.css}};
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}


<div class="team-members-group container">
  {% for item in module.field_group %}
    <div class="team-member">
      {% if item.image_field.src %}
        {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
        {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
        <img src="{{ resize_image_url(item.image_field.src, 0, 0, item.image_field.max_width) }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      <div class="content">
        <h3 class="team-text">{{ item.first_name }}</h3>
        <h4 class="team-text">{{ item.title }}</h4>
      </div>
  </div>
  {% endfor %}
</div>